#logo {
  width:30px;
  height: 37px;
  padding-right:6px;
}
body {
  margin:0;
  padding:0;
  font-family: Verdana, Geneva, sans-serif;
}
#map {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 27%;
}
#controlContainer {
  float: right;
  padding-bottom: 30px;
}
#controls {
  padding-left:10px;
  padding-right:10px;
  padding-bottom: 25px overflow-x:hidden;
  position:absolute;
  bottom:0;
  top:0;
  right:0;
  width:27%;
  min-width:100px;
  box-sizing:border-box;
  background:#fff;
  transition:all 200ms;
  -webkit-transition:all 200ms;
}
#colorizeDiv {
  padding-bottom: 20px;
}
.propertiesPopup {
  max-height: 400px;
  padding-top: 15px;
  overflow: auto;
}
#aboutBar {
  float: right;
}
.btn-green {
  border-radius: 2px;
  position: relative;
  vertical-align: top;
  width: 100px;
  height: 35px;
  padding: 0;
  font-size: 16px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: green;
  border: 0;
  border-bottom: 2px solid darkgreen;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px darkgreen;
  box-shadow: inset 0 -2px darkgreen;
}
.btn-red {
  border-radius: 2px;
  position: relative;
  vertical-align: top;
  width: 100px;
  height: 35px;
  padding: 0;
  font-size: 16px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #cc2627;
  border: 0;
  border-bottom: 2px solid darkred;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px darkred;
  box-shadow: inset 0 -2px darkred;
}
.btn-yellow {
  border-radius: 2px;
  position: relative;
  vertical-align: top;
  width: 100px;
  height: 35px;
  padding: 0;
  font-size: 16px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #ffa500;
  border: 0;
  border-bottom: 2px solid #cc8400;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #cc8400;
  box-shadow: inset 0 -2px #cc8400;
}
.CodeMirror {
  border: 1px solid #eee;
  max-height:100px;
}
#legend {
  border: 1px solid #eee;
  position: fixed;
  background-color: white;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  bottom: 0;
}
#labels{
  float: left;
  padding-right: 15px;
}
#symbols{
  float: right;
}
.symbolBox{
  width:20px;
  height:20px;
}